body {
  background: #ffffff;
}
.thumb-img {
  position: relative;
  height: 0;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.img-square {
  padding-bottom: 100%;
}
.about-banner-section {
  .thumb-img {
    padding-bottom: 40%;
    .title-banner {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      bottom: 1%;
      text-transform: uppercase;
      color: #fec874;
      h1 {
        font-size: 80px;
      }
    }
  }
}
.about-menu-section {
  margin-top: 70px;
  margin-bottom: 70px;
  .about-nav {
    margin-bottom: 70px;
    .nav-tabs {
      border-bottom: unset;
    }
    .nav-link {
      color: #034688;
      margin-left: 10px;
      margin-right: 10px;
    }
    .nav-link.active,
    .nav-link:hover {
      color: #fec874;
      background-color: #034688;
      border-radius: 40px;
      padding: 5px 20px;
      box-shadow: 2px 2px 9px #000000;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
      border-color: unset;
      border: unset;
    }
  }
}
.about-content {
  .about-section-content {
    position: relative;
    .row-content {
      padding-bottom: 120px;
      .middle-text {
        justify-content: center;
        align-items: center;
        display: flex;
        h2 {
          text-transform: uppercase;
          color: #034688;
          font-weight: bold;
          padding-bottom: 20px;
        }
      }
    }
    .swiper-about {
      .core-value {
        border: 1px solid #000000;
        padding: 60px 30px;
        height: 100%;
        h2 {
          text-transform: uppercase;
          color: #034688;
          font-weight: bold;
          padding-bottom: 20px;
          padding-top: 25px;
        }
      }
      .about-pag-icon{
        display: none;
      }
      @media (max-width:992px){
        .about-pag-icon{
          display: block;
        }
      }
    }
  }
  h1 {
    text-transform: uppercase;
    color: #fec874;
    font-size: 60px;
    margin-bottom: 70px;
  }
}
